body{
    text-align: center;
    background-color: lightsteelblue;

}
li{
    text-decoration: none;
    font-size: 25px;
    font-family: fantasy;
    color: greenyellow;
    padding: 8px;
    list-style: none;
}
h1{
    color: chartreuse;
    text-align: center;
    
}